body {
    margin: 20px;
    font-family: 'Ranga', cursive;
    background-color: #A8A8A8;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }

  .card {
    background-color: #696969;
    padding: 4px 4px 4px 4px;
    border-radius: 10px;
    border: 0.5px solid black;
  }

  .square {
    border: 0.5px solid black;
    background: #248AFF;
    font-size: 60px;
    font-weight: bold;
    line-height: 34px;
    margin: 4px 4px 4px 4px;
    padding: 10px 7px 0px 0px;
    text-align: center;
    width: 74px;  
    height: 74px;
    color: black;
    border-radius: 10px;
  }

  .square:hover {
    background-color: #7EC6F6;
    color: white;
    border: 0.5px solid black;
  }
  
  .btn:focus, .btn-large:focus, .btn-floating:focus {
    background: #7EC6F6 !important;
}
  
  .game {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .game-info {
    margin-left: 40px;
    font-size: 25px;
    font-size: 30px;
  }

  .button {
    border: 0.5px solid black;
    font-size: 18px;
    color: black;
    background-color: #248AFF;
    margin-bottom: 10px;
    border-radius: 10px;
    font-size: 25px;
  }
  
  .button:hover {
    color: white;
    background-color: #7EC6F6;
    border: 0.5px solid black;
  }