body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }

  .square {
    background: #8ca3a3;
    border: 2px solid black;
    float: left;
    font-size: 60px;
    font-weight: bold;
    line-height: 34px;
    height: 74px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 74px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .game-info {
    margin-left: 40px;
    font-size: 25px;
  }

  input[type="button" i], input[type="submit" i], input[type="reset" i], input[type="file" i]::-webkit-file-upload-button, button {
    background-color: #80ced6;
    width: 150px;
    height: 30px;
    border: 1px solid #618685;
    font-size: 18px;
  }